<div class="text-center">
  <div class="topnav">
    <a>FeedMe Now</a>
  </div>

  <header>
    <h1>Feed Me Now!</h1>
  </header>

  <main class="container-fluid px-5" style="padding-top: 20px">

    <div class="row">
      <div class="col-sm p-3 mx-4 border rounded" style="margin-top: 40px; background-color: grey; margin-top: 40px">

        <div class="inputRow" *ngFor="let arrayItem of array1; index as i; trackBy: trackByFn">
          <input type="text" name="arrayInput{{i}}"
          [(ngModel)]="array1[i]"
          (ngModelChange)="saveToLocalStorage()"
          class="form-control border-0 fs-4 text-center" 
          style="border: 0px; margin-top: 8px; margin-bottom: 8px;"
          placeholder="Enter Snack"/>
          <button (click)="removeInput(i)" class="feedMeButton button5" style="font-size: 20px; font-weight: bolder">
            x
          </button>
        </div>

        <button (click)="addNewInput()" class="feedMeButton button5" style="font-size: 20px; font-weight: bolder">
          +
        </button>
        <p class="h4" style="padding-bottom: 40px">Add more choices!</p>

      </div>

      <div>

        <button (click)="randomize()" class="btn btn-secondary btn-lg" style="margin-top: 40px">
          Randomize
        </button>

        <input type="text" disabled class="text-center form-control w-25 fs-5" style="
        margin: 0 auto;
        background-color: transparent;
        margin-top: 15px;" [ngModel]="randomItem"/>

      </div>

    </div>
  </main>
</div>